<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Boodil\Payment\Api\BoodilApiInterface" type="Boodil\Payment\Gateway\BoodilApi" />

    <type name="Boodil\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Boodil\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">boodil</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Boodil\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Boodil\Payment\Model\Resolver\InitiatePayment">
        <arguments>
            <argument name="logger" xsi:type="object">Boodil\Payment\Logger\Logger</argument>
            <argument name="guestCartRepository" xsi:type="object">Magento\Quote\Api\GuestCartRepositoryInterface</argument>
            <argument name="boodileApiInterface" xsi:type="object">Boodil\Payment\Api\BoodilApiInterface</argument>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
        </arguments>
    </type>
</config>
