<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="boodil" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Boodil Payment Method</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="logo" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <source_model>Boodil\Payment\Model\Adminhtml\Source\Logo</source_model>
                    <comment>
                        <model>Boodil\Payment\Model\Adminhtml\Config\SystemConfigComment</model>
                    </comment>
                </field>
                <field id="environment" translate="label comment" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Boodil\Payment\Model\Adminhtml\Source\Environment</source_model>
                </field>
                <field id='username' translate='label' type='obscure' sortOrder='50' showInDefault='1' showInWebsite='1' showInStore='1'>
                    <label>API Key/Username</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id='access_key' translate='label' type='obscure' sortOrder='60' showInDefault='1' showInWebsite='1' showInStore='1'>
                    <label>Secret/Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id='uuid' translate='label' type='obscure' sortOrder='70' showInDefault='1' showInWebsite='1' showInStore='1'>
                    <label>Merchant UUID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="debug" translate="label comment" sortOrder="80" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="success_url" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Page</label>
                </field>
                <field id="headless_callback_url" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Headless Callback URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
